/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*LAYOUT*/

body {
    font-family: 'Livvic';
    background-color: #100645;
}



/*HEADER*/

.page-header {
    padding-top: 30px;
    background-color: blue;
    color: white;
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-position: 80% 20px;
    max-width: 992px;
    height: 250px;
    border-radius: 0 0 20px 20px;
}

.page-main {
    padding: 30px 0;
    max-width: 992px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px 30px;
}

.grid-item {
    aspect-ratio: 1;
    background-color: #2e6754;
    border-radius: 10px;
}

.grid-item:last-child {
    aspect-ratio: unset;
    grid-column: span 8;
    height: 100px;
    background-color: #d4d6f5;
}